#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Light gray background */
  background-image: url('/static_img/background.jpg'); /* Update path based on your project structure */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Inherit body's background properties */
  filter: blur(2px) opacity(0.8); /* Blur and opacity for background image */
}

.App {
  position: relative; /* Ensure z-index stacking context */
  z-index: 1; /* Place App above pseudo-element */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #333; /* Dark font color */
}

.header p {
  font-size: 14px;
  color: #666; /* Gray font color */
}

.form-container {
  background-color: white /* Semi-transparent white background */
  /* position: relative; Ensure z-index stacking context */
  /* z-index: 1; Place form container above pseudo-element */}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.form-container input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #9CDBA6; /* Light green background for inputs */
  color: black; /* Black font color for inputs */
  text-align: center; /* Center align text */
  vertical-align: middle; /* Align vertically middle */
}

.form-container input::placeholder {
  color: black; /* Black placeholder text color */
  opacity: 0.6; /* Adjust opacity as desired */
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 106, 63); /* Green button */
  color: black !important; /* Black font color for buttons */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 296px
}

.form-container button:hover {
  background-color: rgb(35, 72, 43); /* Darker green on hover */
}

.form-container button.secondary {
  background-color: rgb(51, 106, 63); /* Green button for secondary actions */
  margin-top: 10px;
  width: 296px;
  font-size: small;
  margin-bottom: 20px;
}

.form-container button.secondary:hover {
  background-color: rgb(35, 72, 43); /* Darker green on hover */
}

.cause-result > * {
  color: #333 !important;
}