/* home.css */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  background-color: #f3f4f6; /* Light background color */
  font-family: Arial, sans-serif;
}

.home-content {
  background-image: url('/static_img/mainbg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  justify-content: center;
  align-items: center;
  padding: 60px 20px; /* Add padding to avoid overlapping with fixed navbar */
  box-sizing: border-box;
  position: relative; /* Add relative positioning to the container */
}

.animated-heading {
  color: #ccd3ed; /* White color */
  font-size: 1.5rem;
  text-align: center;
  margin: 0; /* Ensure no extra margin */
  font-family: "Space Grotesk", sans-serif;
}

.animated-heading.enter {
  animation: fadeInUp 1s ease-out forwards;
}

.animated-heading.exit {
  animation: fadeOutDown 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.home-content h2 {
  color: #ffffff;
  text-align: center;
  margin: 0; /* Ensure no extra margin */
  margin-bottom: 10px; /* Add some space between main heading and subheading */
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

